body{
  align: center;
  background-image: url(textura.jpg);
}

.calculadora {

    margin: 0 auto;
    padding: 40px;
    border-radius: 40px;
    border: 10px black ridge; width: 300px; text-align: center;
    background-color: black; align: center;
}

#display {
    width: 200px; border: 2px black solid; text-align: right;
    position: relative; left: 40px;  padding: 15px 20px;
    background-color: #ABF5E3;
}
#igual, #ac {
  margin-left: 35px;
  background-color: #07248A;
}

.calculadora [type=button] {font-family:fantasy; font-size: 20px ;width: 70px; background-color: lightblue; height: 40px}
